<% post = Post.last %>
<div id="div-tab">
  <% if post.category == "news" %>
    <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
    <%= fa_icon("rss", text: 'News') %>
      </div>
    </div>

  <% elsif post.category == "event" %>
    <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
    <%= fa_icon("calendar", text: 'Event') %>
      </div>
    </div>
  <% end %>
</div>

<div id="div-center">

  <div class="card border-info mb-3">
    <div class="card-header text-center">
      <%= post.title %>
    </div>
    <div class="card-body">
      <h1 class="card-title">Special title treatment</h1>
      <p class="card-text">
      <%= post.content.html_safe %>
      </p>
    </div>
    <div class="card-footer text-muted">
      <%= post.date.strftime("%b %e %Y, %l:%M %p") %>
    </div>
  </div>
</div>

<div id="header" class="fixed-top fixed-bar row text-center">
  <div id="div-time" class="align-self-center col-md-3"> </div>
  <div class="align-self-center text-left col-md-2">
    <div id="div-weather">
      <%= Weather.temperature %>°C <%= Weather.weather_icon %>
    </div>
    <div id="div-date"> </div>
  </div>
  <div class="offset-md-4"> </div>
  <div class="align-self-end col-md-3">
    <%= image_tag(@ucl_logo, id: "ucl-logo") %>
  </div>
</div>

<div id="footer" class="fixed-bottom fixed-bar row text-center">
  <div id="tfl-widget" class="carousel slide col align-self-center" data-ride="carousel">
    <div class="carousel-inner">
      <% if TFL.no_disruptions %>
        <div class="carousel-item active">
          Good service on all lines.
        </div>
      <% else %>
        <div class="carousel-item active">
          <%= TFL.disruptions[0] %>
        </div>
        <% TFL.disruptions.each_with_index do |disruption, index| %>
          <% unless index == 0 %>
            <div class="carousel-item">
              <%= TFL.disruptions[index] %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <ol class="carousel-indicators">
      <% if TFL.disruptions.length > 1 %>
        <% TFL.disruptions.each_with_index do |disruption, index| %>
          <% if index == 0 %>
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <% else %>
            <li data-target="#carouselIndicators" data-slide-to="<% index %>"></li>
          <% end %>
        <% end %>
      <% end %>
    </ol>
  </div>
  <div class="vertical-divider"></div>
  <div id="div-news-feed" class="footer-widget">
    <div class="marquee">
	  <p><%= News.news_string(@news_feed) %></p>
	</div>
  </div>
</div>
