<div id="div-header">
  <div id="div-time-weather-date">
    <div id="div-time">
    </div>
    <div id="div-weather">
      4° Celsius ⛅️
    </div>
    <div id="div-date">
    </div>
    <%= image_tag("ucl_engineering_logo.png", id: "ucl-engineering-logo") %>
  </div>

  <%= image_tag("ucl_logo.png", id: "ucl-logo") %>

</div>

<% post = Post.last %>
<div id="div-tab">
  <% if post.category == "news" %>
    <h1><span class="badge badge-light">News  <%= fa_icon("rss") %></span></h1>

  <% elsif post.category == "event" %>
    <h1><span class="badge badge-light">Event  <%= fa_icon("calendar") %></span></h1>
  <% end %>
</div>

<div id="div-center">
  <div class="content-canvas">
    <div class="row">
      <div class="col-sm-6">
        <%= post.title %>
      </div>
      <div class="col-sm-6">
        <%= post.content.html_safe %>
      </div>
    </div>
    <div class="row">
      <!-- TODO fix offset -->
      <div class="offset-sm-3 col-sm-6 offset-sm-3">
        <%= post.date.strftime("%b %e %Y, %l:%M %p") %>
      </div>
    </div>
  </div>
</div>

<div id="div-footer">
  <div id="div-tfl-widget" class="footer-widget">
    <% if TFL.no_disruptions %>
      <%= "Good service on all lines." %>
    <% else %>
      <!-- TODO cycle through disruptions -->
      <%= TFL.disruptions[0] %>
    <% end %>
  </div>
  <div class="vertical-divider"></div>
  <div id="div-news-feed" class="footer-widget">NOTHING NEW HAPPENED</div>
</div>
