<div id="div-header">
  <div id="div-time-weather-date">
    <div id="div-time">
    </div>
    <div id="div-weather">
      <%= Weather.temperature %>°C <%= Weather.weather_icon %>
    </div>
    <div id="div-date">
    </div>
    <%= image_tag("ucl_engineering_logo.png", id: "ucl-engineering-logo") %>
  </div>

  <%= image_tag(@ucl_logo, id: "ucl-logo") %>

</div>

<% post = Post.last %>
<div id="div-tab">
  <% if post.category == "news" %>
    <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <%= fa_icon("rss", text: 'News') %>
      </div>
    </div>

  <% elsif post.category == "event" %>
    <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <%= fa_icon("calendar", text: 'Event') %>
      </div>
    </div>
  <% end %>
</div>

<div id="div-center">

  <!-- <div class="content&#45;canvas"> -->
  <div class="card border-info mb-3">
    <div class="card-header text-center">
      <%= post.title %>
    </div>
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text"><%= post.content.html_safe %></p>
      <%= image_tag(post.attachment.url(:small)) %>
    </div>
    <div class="card-footer text-muted">
      <%= post.date.strftime("%b %e %Y, %l:%M %p") %>
    </div>

  </div>
  </div>

  <!-- <div class="fixed&#45;bottom"> -->
  <div id="div-footer">
    <div id="div-tfl-widget" class="footer-widget">
      <% if TFL.no_disruptions? %>
        <%= "Good service on all lines." %>
      <% else %>
        <!-- TODO cycle through disruptions -->
        <%= TFL.disruptions[0] %>
      <% end %>
    </div>
    <div class="vertical-divider"></div>
    <div id="div-news-feed" class="footer-widget">NOTHING NEW HAPPENED</div>
  </div>
