<div id="div-header">
  <div id="div-time-weather-date">
    <div id="div-time">
    </div>
    <div id="div-weather">
      <%= Weather.temperature %>°C <%= Weather.weather_icon %>
    </div>
    <div id="div-date">
    </div>
    <%= image_tag("ucl_engineering_logo.png", id: "ucl-engineering-logo") %>
  </div>

  <%= image_tag(@ucl_logo, id: "ucl-logo") %>

</div>

<% post = Post.last %>
<div id="div-tab">
  <% if post.category == "news" %>
    <%= image_tag("news.png", id: "tab-icon") %>
    News
  <% elsif post.category == "event" %>
    <%= image_tag("event.png", id: "tab-icon") %>
    Event
  <% end %>
</div>

<div id="div-center">
  <div class="content-canvas">
    <div class="row">
      <div class="col-sm-6">
        <%= post.title %>
      </div>
      <div class="col-sm-6">
        <%= post.content %>
      </div>
    </div>
    <div class="row">
      <!-- TODO fix offset -->
      <div class="offset-sm-3 col-sm-6 offset-sm-3">
        <%= post.date.strftime("%b %e %Y, %l:%M %p") %>
      </div>
    </div>
  </div>
</div>

<div id="div-footer">
  <div id="div-tfl-widget" class="footer-widget">
    <% if TFL.no_disruptions %>
     <%= "Good service on all lines." %>
    <% else %>
    <!-- TODO cycle through disruptions -->
      <%= TFL.disruptions[0] %>
    <% end %>
  </div>
  <div class="vertical-divider"></div>
  <div id="div-news-feed" class="footer-widget">NOTHING NEW HAPPENED</div>
</div>
