<div id="div-header">
  <div id="div-time-weather-date">
    <div id="div-time">
      <%= Time.now.strftime("%I:%Mc") %>
    </div>
    <div id="div-weather">
      13 Celsius ⛅️
    </div>
    <div id="div-date">
      <%= Date.today %>
    </div>
    <%= image_tag("ucl_engineering_logo.png") %>
  </div>

  <%= image_tag("ucl_logo.png") %>

</div>

<div id="div-tab">
  <%= image_tag("news.png") %>
  News
</div>

<div id="div-center">
  <div class="content-canvas">
    Content goes here.
  </div>
</div>

<div id="div-footer">
  <div id="div-tfl-widget" class="footer-widget">PROBLEMS ON VICTORIA LINE</div>
  <div class="vertical-divider"></div>
  <div id="div-news-feed" class="footer-widget">NOTHING NEW HAPPENED</div>
</div>
