<div id="header" class="fixed-top row text-center">
  <div id="div-time" class="align-self-center col-md-3"> </div>
  <div class="align-self-center text-left col-md-2">
    <div id="div-weather">
      <%= Weather.temperature %>°C <%= Weather.weather_icon %>
    </div>
    <div id="div-date"> </div>
  </div>
  <div class="offset-md-4"> </div>
  <div class="align-self-end col-md-3">
    <% if @department.blank? %>
      <%= image_tag('ucl_logo', id: "ucl-logo", class: "no_department") %>
    <% else %>
      <%= image_tag('ucl_logo', id: "ucl-logo", style: "background: #{@colour}") %>
    <% end %>
  </div>
</div>

<div id="category">
  <% if Post.valid.with_emergencies.exists? %>
    <div class="tab">
      <div class="card text-danger border-danger bg-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <%= fa_icon("exclamation-triangle", text: 'Emergency') %>
        </div>
      </div>
    </div>

  <% else %>
    <% Post.valid.each do |post| %>
      <div class="tab">
        <% if post.category == "news" %>
          <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <%= fa_icon("rss", text: 'News') %>
            </div>
          </div>

        <% elsif post.category == "event" %>
          <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <%= fa_icon("calendar", text: 'Event') %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @department.blank? %>
  <div id="div-center" class="no_department">
<% else %>
  <div id="div-center" style="background: <%= @colour %>">
<% end %>
<% if Post.valid.with_emergencies.exists? %>
  <% post = Post.valid.with_emergencies.last %>
  <div class="card text-danger border-danger emergency mt-3" duration="100" style="z-index: 10; display: flex;">
    <div class="card-header text-center">
      <%= post.title %>
    </div>
    <div class="card-body">
      <p class="card-text text-danger"><%= post.content.html_safe %></p>
      <% if post.attachment.exists? %>
        <%= image_tag(post.attachment.url(:small)) %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <% unless post.date.nil? %>
        <%= post.date.strftime("%b %e %Y, %l:%M %p") %>
      <% end %>
    </div>
  </div>
<% else %>
  <% if Post.valid.any? %>
    <% Post.valid.each do |post| %>
      <div class="card border-info post mt-42" duration="<%= post.duration %>">
        <div class="card-header text-center">
          <%= post.title %>
        </div>
        <div class="row post-content">
          <div class="col-md-6">
            <table class="post-table">
              <tbody>
              <tr>
                <td class="align-middle">
                  <p class="card-text"><%= post.content.html_safe %></p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <% if post.attachment.exists? %>
            <div class="col-md-6">
              <table class="post-table">
                <tbody>
                <tr>
                  <td class="align-middle">
                    <%= image_tag(post.attachment.url, class: "post-image") %>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card border-info post mt-3" duration="<%= 10 %>">
      <div class="card-header text-center">
        Welcome to UCL
      </div>
      <div class="card-body">
        <p class="card-text"> This is a text about UCL </p>
        <%= image_tag("ucl_portico.jpg") %>
      </div>
    </div>
  <% end %>
<% end %>
</div>


<% unless Post.valid.with_emergencies.exists? %>
  <div id="footer" class="fixed-bottom row text-center">
    <div id="tfl-indicator"></div>
    <div id="tfl-widget" class="carousel slide col-md-4 align-self-center" data-ride="carousel">
      <div class="carousel-inner">
        <% if TFL.no_disruptions? %>
          <div class="carousel-item active">
           TfL: Good service on all lines.
          </div>
        <% else %>
          <% TFL.disrupted_lines.each_with_index do |line, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : ''%> <%= TFL.line_status_id(line) < 8 ? 'severe-delay' : '' %>">
              <%= TFL.line_name(line) %> Line: <%= TFL.line_status(line) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <ol class="carousel-indicators">
        <% if TFL.disrupted_lines.length > 1 %>
          <% TFL.disrupted_lines.each_with_index do |line, index| %>
            <li data-target="#carouselIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : ''%>" ></li>
          <% end %>
        <% end %>
      </ol>
    </div>
    <div class="vertical-divider"></div>
    <div id="news-feed" class="col align-self-center">
      <div class="marquee">
        <%= News.news_string(@news_feed) *4 %>
      </div>
    </div>
  </div>
<% end %>
