<% Post.all.each do |post| %>
  <div class="tab">
    <% if post.category == "news" %>
      <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <%= fa_icon("rss", text: 'News') %>
        </div>
      </div>

    <% elsif post.category == "event" %>
      <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <%= fa_icon("calendar", text: 'Event') %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div id="div-center">
  <% Post.all.each do |post| %>
    <div class="card border-info post mt-3">
      <div class="card-header text-center">
        <%= post.title %>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= post.content.html_safe %>
        </p>
        <%= image_tag(post.attachment.url(:small)) %>
      </div>
      <div class="card-footer text-muted">
        <% unless post.date.nil? %>
          <%= post.date.strftime("%b %e %Y, %l:%M %p") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<div id="header" class="fixed-top fixed-bar row text-center">
  <div id="div-time" class="align-self-center col-md-3"> </div>
  <div class="align-self-center text-left col-md-2">
    <div id="div-weather">
      <%= Weather.temperature %>°C <%= Weather.weather_icon %>
    </div>
    <div id="div-date"> </div>
  </div>
  <div class="offset-md-4"> </div>
  <div class="align-self-end col-md-3">
    <%= image_tag(@ucl_logo, id: "ucl-logo") %>
  </div>
</div>

<div id="footer" class="fixed-bottom fixed-bar row text-center">
  <div id="tfl-indicator"></div>
  <div id="tfl-widget" class="carousel slide col-md-4 align-self-center" data-ride="carousel">
    <div class="carousel-inner">
      <% if TFL.no_disruptions? %>
        <div class="carousel-item active">
          Good service on all lines.
        </div>
      <% else %>
        <% TFL.disrupted_lines.each_with_index do |line, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : ''%> <%= TFL.line_status_id(line) < 8 ? 'severe-delay' : '' %>">
            <%= TFL.line_name(line) %> Line: <%= TFL.line_status(line) %>
          </div>
        <% end %>
      <% end %>
    </div>
    <ol class="carousel-indicators">
      <% if TFL.disrupted_lines.length > 1 %>
        <% TFL.disrupted_lines.each_with_index do |line, index| %>
          <li data-target="#carouselIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : ''%>" ></li>
        <% end %>
      <% end %>
    </ol>
  </div>
  <div class="vertical-divider"></div>
  <div id="news-feed" class="col align-self-center">
    <div class="marquee">
      <%= News.news_string(@news_feed) %>
    </div>
  </div>
</div>