<div id="header" class="fixed-top row">
  <div id="div-time" class="align-self-center text-center col-md-3"> </div>
  <div class="align-self-center text-left col-md-2">
    <div id="div-weather">
      <%= Weather.temperature %>°C <%= Weather.weather_icon %>
    </div>
    <div id="div-date"> </div>
  </div>
  <div class="offset-md-4"> </div>
  <div class="align-self-end text-center col-md-3">
    <% if @department.blank? %>
      <%= image_tag('ucl_logo.png', id: "ucl-logo", class: "no_department") %>
    <% else %>
      <%= image_tag('ucl_logo.png', id: "ucl-logo", style: "background: #{@colour}") %>
    <% end %>
  </div>
</div>

<div id="category">
  <% unless Post.valid.with_emergencies.exists? %>
    <% Post.valid.each do |post| %>
      <div class="tab">
        <% if post.category == "News" %>
          <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <%= fa_icon("rss", text: 'News') %>
            </div>
          </div>
        <% elsif post.category == "Event" %>
          <div class="card text-black bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <%= fa_icon("calendar", text: 'Event') %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @department.blank? %>
  <div id="div-center" class="no_department">
<% else %>
  <div id="div-center" style="background: <%= @colour %>" class="<%= 'next-to-twitter' if @twitter_handle %>">
<% end %>
<% if Post.valid.with_emergencies.exists? %>
  <% post = Post.valid.with_emergencies.last %>
  <%= render partial: "emergency_post", locals: {post: post} %>
<% else %>
  <% if Post.valid.any? %>
    <% Post.valid.each do |post| %>
      <% if post.attachment.exists? %>
        <% if post.content.present? %>
          <%= render partial: "text_image_post", locals: {post: post} %>
        <% else %>
          <%= render partial: "image_post", locals: {post: post} %>
        <% end %>
      <% else %>
        <%= render partial: "text_post", locals: {post: post} %>
      <% end %>
    <% end %>
  <% else %>
    <%= render "default_post" %>
  <% end %>

  <% if @twitter_handle %>

    <%= render "twitter_feed" %>

  <% end %>

<% end %>
</div>


<% unless Post.valid.with_emergencies.exists? %>
  <div id="footer" class="fixed-bottom row text-center">
    <div id="tfl-indicator"></div>
    <div id="tfl-widget" class="carousel slide col-md-4 align-self-center" data-ride="carousel">
      <div class="carousel-inner">
        <% if TFL.no_disruptions? %>
          <div class="carousel-item active">
           TfL: Good service on all lines.
          </div>
        <% else %>
          <% TFL.disrupted_lines.each_with_index do |line, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : ''%> <%= TFL.line_status_id(line) < 8 ? 'severe-delay' : '' %>">
              <%= TFL.line_name(line) %> Line: <%= TFL.line_status(line) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <ol class="carousel-indicators">
        <% if TFL.disrupted_lines.length > 1 %>
          <% TFL.disrupted_lines.each_with_index do |line, index| %>
            <li data-target="#carouselIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : ''%>" ></li>
          <% end %>
        <% end %>
      </ol>
    </div>
    <div class="vertical-divider"></div>
    <div id="news-feed" class="col align-self-center">
      <div class="marquee">
        <%= News.news_string(@news_feed) *4 %>
      </div>
    </div>
  </div>
<% end %>
