<!DOCTYPE html>
<html>
  <head>
    <title>UCL Engineering TV Kiosk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="mx-4 my-1">
      <%= flash_messages %>
    </div>

    <%= yield %>
  </body>
</html>
